<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/4472ae110055733.5fe26e048d0f9.jpg);
            background-size: 100vw;
            background-position: 0px -257px;
            background-repeat: no-repeat;
            height: 100vh;
            overflow: hidden;
        }
    </style>
</head>

<body>
</body>

</html>